*.user
.vs/SpanStringParser/DesignTimeBuild/
.vs/
SpanStringParser/bin/
SpanStringParser/obj/
*.ncrunchsolution
bin/
obj/
_NCrunch_SpanStringParser/SpanStringParser.crunchsolution.cache
_NCrunch_SpanStringParser/
